[submodule "ubuntu/cardDAV2Fritzbox"]
	path = ubuntu/cardDAV2Fritzbox
	url = git@github.com:cmaoling/cardDAV2Fritzbox.git
[submodule "debian/cardDAV2Fritzbox"]
	path = debian/cardDAV2Fritzbox
	url = https://github.com/cmaoling/cardDAV2Fritzbox.git
[submodule "ubuntu/MoneyManagerEx"]
	path = ubuntu/MoneyManagerEx
	url = https://github.com/cmaoling/moneymanagerex
[submodule "ubuntu/NetBeans"]
	path = ubuntu/NetBeans
	url = https://github.com/cmaoling/docker-netbeans
