[${VOLUME_NAME}]
  comment = ${VOLUME_NAME} volume from ${CONTAINER}
  read only = ${READONLY}
  locking = ${LOCKING}
  path = ${VOLUME}
  force user = ${USER}
  force group = ${GROUP}
  guest ok = ${GUESTOK}
  map archive = ${MAPARCHIVE}
  map system = ${MAPSYSTEM}
  map hidden = ${MAPHIDDEN}
  write list = ${WUSER}
  create mode = ${FILEMOD}
  create directory = ${DIRMOD}
  create mask = ${MASKMOD}
  browseable = ${BROWSABLE}
